[submodule "XmlLasdDatabase"]
	path = XmlLasdDatabase
	url = https://github.com/klightspeed/XmlLasdDatabase.git
[submodule "OOXML"]
	path = OOXML
	url = https://github.com/klightspeed/OOXML.git
[submodule "StandardElaborationParser"]
	path = StandardElaborationParser
	url = https://github.com/klightspeed/StandardElaborationParser.git
	branch = program
[submodule "LASDDatabase"]
	path = LASDDatabase
	url = https://github.com/klightspeed/LASDDatabase
